.DS_Store
node_modules
/dist
/cache
/official_cache
/cache_pdf
radar/_shards/
__pycache__/
.venv/
.claude/*
!.claude/skills/
# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src_backup/

config.yml
primevue-document.md